nav {
  display: flex;
  border-bottom: 2px solid #f3f3f3;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  background-color: #356e89;
  left:0%;
}

.nav-icons:hover {
    color: #aa558c;
}

.nav-container{
  position: fixed;
  
}

.nav-container2{
  position: fixed;
  
}

input {
  padding: 12px 20px;
  border: black;
  background: #a8a6a6;
  outline: black;
  margin-right: 20px;
  border-radius: 5px;
  position: relative;
  width: 14rem;
}

.nav-icons {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
  color: black;
}
