nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; 
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  padding-bottom: 5px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  justify-content: space-around;
  align-items: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  z-index: 1; 
}


.profile-container {
  margin-left: auto;
}

.nav-icons:hover {
  color: #aa558c;
}

.nav-container {
  width: 300px;
  margin: 10px auto;
}

input {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #666;
}

.nav-icons {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0rem;
  color: black;
  margin-right: 20px;
}
